<!doctype html>
<html lang="en-GB">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Smarty Admin</title>
    <meta name="description" content="" />
    <meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
        <!-- CORE CSS -->
        <link href="http://127.0.0.1:8000/assets/backend-client/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

        <!-- THEME CSS -->
        <link href="http://127.0.0.1:8000/assets/backend-client/css/essentials.css" rel="stylesheet" type="text/css" />
</head>
<!--
    .boxed = boxed version
-->
<body>
        <section id="middle">
            {% block body %}
            {% endblock %}
        </section>
        <!-- /MIDDLE -->
</body>
</html>