<div class="col-md-12 col-sm-12 js-select-dropdown">

    <h3>
        Choose from the dropdown below:
    </h3>

    <div class="col-md-3 col-sm-3">
        <select title="dropdown-1" class="js-dropdown-1 form-control">
            <option value="">--- Size ---</option>
            <option value="1">Small</option>
            <option value="2">Medium</option>
            <option value="3">Large</option>
        </select>
    </div>

    <div class="col-md-1 col-sm-1">
        <i class="fa fa-arrow-circle-right size-40" aria-hidden="true"></i>
    </div>

    <div class="col-md-3 col-sm-3">
        <select title="dropdown-2" class="js-dropdown-2 form-control" disabled>
            <option value="">--- Type ---</option>
        </select>
    </div>

    <div class="col-md-1 col-sm-1">
        <i class="fa fa-arrow-circle-right size-40" aria-hidden="true"></i>
    </div>

    <div class="col-md-4 col-sm-4">
        <select title="dropdown-3" class="js-dropdown-3 form-control" disabled>
            <option value="">--- Product ---</option>
        </select>
    </div>

    <hr>
</div>