{% extends 'base.html.twig' %}
{% block body %}
    <div id="new-password">
        <!-- -->
        <section>
            <div class="container">

                <div class="row">


                    <!-- LOGIN -->
                    <div class="col-md-12 col-sm-12">

                        <div class="box-static box-border-top padding-30">
                            <div class="box-title margin-bottom-30">
                                <h2 class="size-20">Enter here your new password twice.</h2>
                            </div>

                            {{ form_start(formForgotPassword) }}
                            <div class="clearfix sky-form">

                                <!-- Passwords -->
                                <div class="form-group">

                                    <div class="col-md-6 col-sm-6">
                                        <label class="input margin-bottom-10">
                                            {{ form_row(formForgotPassword.plainPassword.first, {
                                                'label': 'New password*'
                                            }) }}
                                        </label>
                                    </div>

                                    <div class="col-md-6 col-sm-6">
                                        <label class="input margin-bottom-10">
                                            {{ form_row(formForgotPassword.plainPassword.second, {
                                                'label': 'Password Again*'
                                            }) }}
                                        </label>
                                    </div>

                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12 text-right">

                                    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Submit</button>

                                </div>

                            </div>
                            {{ form_end(formForgotPassword) }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}